<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>
    <main>
        <div class="main-container">
            <h1>About Us</h1>
            <p><strong>The Event Prophet</strong>, your ultimate guide to discovering and participating in events at Hogwarts! Whether you're a student, professor, or visitor, our platform offers a wide range of events.</p>
            <p>Our goal is to bring the community closer together by providing an easy and convenient way to find and participate in events. Stay up-to-date with the latest happenings and make the most of your experience.</p>
            <p>Check out the event section to browse available events at Hogwarts!</p>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
