<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>
    <main>
        <div class="main-container">
            <h1>Contact Us</h1>
            <p><strong>Address:</strong> 9201 Hogwarts University, Charlotte, NC 28223</p>
            <p><strong>Email:</strong> theeventprophet@gmail.com</p>
            <p><strong>Phone:</strong> 9988776655</p>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
