<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <img src="/images/owl.gif" alt="Flying Owl" id="animated-owl">
        <div class="main-container">
            <h1>Welcome to The Event Prophet!</h1>
            <p>Your premier source for all things academic and student-related!</p>
            <p>The Event Prophet is your comprehensive platform designed to keep students informed about a wide array of events, from insightful workshops and enlightening seminars to engaging club meetings and exciting social gatherings. Stay in the loop with the latest campus activities and academic community events.</p>
            <p>Whether you’re aiming to broaden your academic horizons, connect with fellow students, or simply find enjoyable activities, The Event Prophet offers a user-friendly way to discover events that match your interests. Dive into our extensive event listings today and make the most of your time at Hogwarts and beyond!</p>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/javascript/script.js"></script>
</body>
</html>
